In [2]:
# В библиотеке scikit-learn решающие деревья реализованы в 
# классах sklearn.tree.DecisionTreeСlassifier (для классификации) и sklearn.tree.DecisionTreeRegressor (для регрессии). 
# Обучение модели производится с помощью функции fit. 
import numpy as np
import pandas
from sklearn.tree import DecisionTreeClassifier
X = np.array([[1, 2], [3, 4], [5, 6]])
y = np.array([0, 1, 0])
clf = DecisionTreeClassifier()
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [3]:
# Переменная importances будет содержать массив "важностей" признаков. 
# Индекс в этом массиве соответствует индексу признака в данных.
importances = clf.feature_importances_
print(importances)

[ 0.75  0.25]

In [4]:
# Стоит обратить внимание, что данные могут содержать пропуски. Pandas хранит такие значения как nan (not a number). 
# Для того, чтобы проверить, является ли число nan'ом, можно воспользоваться функцией np.isnan.
np.isnan(X)

array([[False, False],
       [False, False],
       [False, False]], dtype=bool)

In [5]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
del data['Name']
del data['SibSp']
del data['Parch']
del data['Ticket']
del data['Cabin']
del data['Embarked']
data = data.dropna(axis=0)
survived = data['Survived'].tolist()
del data['Survived']
data = data.replace(to_replace='female', value=1)
data = data.replace(to_replace='male', value=0)
data.head()

rows = [x[1] for x in data.iterrows()]

clf = DecisionTreeClassifier()
clf.fit(rows, survived)

importances = clf.feature_importances_
print(importances)

data.head()

[ 0.14401212  0.30051221  0.24883207  0.3066436 ]

             Pclass  Sex   Age     Fare
PassengerId
1                 3    0  22.0   7.2500
2                 1    1  38.0  71.2833
3                 3    1  26.0   7.9250
4                 1    1  35.0  53.1000
5                 3    0  35.0   8.0500

In [6]:
type(rows[0][1])

numpy.float64

In [7]:
import sys
sys.version_info

sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)

In [11]:
#rows = [x[1] for x in data.iterrows()]
print(rows)

[Pclass     3.00
Sex        0.00
Age       22.00
Fare       7.25
Name: 1, dtype: float64, Pclass     1.0000
Sex        1.0000
Age       38.0000
Fare      71.2833
Name: 2, dtype: float64, Pclass     3.000
Sex        1.000
Age       26.000
Fare       7.925
Name: 3, dtype: float64, Pclass     1.0
Sex        1.0
Age       35.0
Fare      53.1
Name: 4, dtype: float64, Pclass     3.00
Sex        0.00
Age       35.00
Fare       8.05
Name: 5, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       54.0000
Fare      51.8625
Name: 7, dtype: float64, Pclass     3.000
Sex        0.000
Age        2.000
Fare      21.075
Name: 8, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       27.0000
Fare      11.1333
Name: 9, dtype: float64, Pclass     2.0000
Sex        1.0000
Age       14.0000
Fare      30.0708
Name: 10, dtype: float64, Pclass     3.0
Sex        1.0
Age        4.0
Fare      16.7
Name: 11, dtype: float64, Pclass     1.00
Sex        1.00
Age       58.00
Fare      26.55
Name: 12, dtype: float64, Pclass     3.00
Sex        0.00
Age       20.00
Fare       8.05
Name: 13, dtype: float64, Pclass     3.000
Sex        0.000
Age       39.000
Fare      31.275
Name: 14, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       14.0000
Fare       7.8542
Name: 15, dtype: float64, Pclass     2.0
Sex        1.0
Age       55.0
Fare      16.0
Name: 16, dtype: float64, Pclass     3.000
Sex        0.000
Age        2.000
Fare      29.125
Name: 17, dtype: float64, Pclass     3.0
Sex        1.0
Age       31.0
Fare      18.0
Name: 19, dtype: float64, Pclass     2.0
Sex        0.0
Age       35.0
Fare      26.0
Name: 21, dtype: float64, Pclass     2.0
Sex        0.0
Age       34.0
Fare      13.0
Name: 22, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       15.0000
Fare       8.0292
Name: 23, dtype: float64, Pclass     1.0
Sex        0.0
Age       28.0
Fare      35.5
Name: 24, dtype: float64, Pclass     3.000
Sex        1.000
Age        8.000
Fare      21.075
Name: 25, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       38.0000
Fare      31.3875
Name: 26, dtype: float64, Pclass      1.0
Sex         0.0
Age        19.0
Fare      263.0
Name: 28, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       40.0000
Fare      27.7208
Name: 31, dtype: float64, Pclass     2.0
Sex        0.0
Age       66.0
Fare      10.5
Name: 34, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       28.0000
Fare      82.1708
Name: 35, dtype: float64, Pclass     1.0
Sex        0.0
Age       42.0
Fare      52.0
Name: 36, dtype: float64, Pclass     3.00
Sex        0.00
Age       21.00
Fare       8.05
Name: 38, dtype: float64, Pclass     3.0
Sex        1.0
Age       18.0
Fare      18.0
Name: 39, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       14.0000
Fare      11.2417
Name: 40, dtype: float64, Pclass     3.000
Sex        1.000
Age       40.000
Fare       9.475
Name: 41, dtype: float64, Pclass     2.0
Sex        1.0
Age       27.0
Fare      21.0
Name: 42, dtype: float64, Pclass     2.0000
Sex        1.0000
Age        3.0000
Fare      41.5792
Name: 44, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       19.0000
Fare       7.8792
Name: 45, dtype: float64, Pclass     3.0
Sex        1.0
Age       18.0
Fare      17.8
Name: 50, dtype: float64, Pclass     3.0000
Sex        0.0000
Age        7.0000
Fare      39.6875
Name: 51, dtype: float64, Pclass     3.0
Sex        0.0
Age       21.0
Fare       7.8
Name: 52, dtype: float64, Pclass     1.0000
Sex        1.0000
Age       49.0000
Fare      76.7292
Name: 53, dtype: float64, Pclass     2.0
Sex        1.0
Age       29.0
Fare      26.0
Name: 54, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       65.0000
Fare      61.9792
Name: 55, dtype: float64, Pclass     2.0
Sex        1.0
Age       21.0
Fare      10.5
Name: 57, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       28.5000
Fare       7.2292
Name: 58, dtype: float64, Pclass     2.00
Sex        1.00
Age        5.00
Fare      27.75
Name: 59, dtype: float64, Pclass     3.0
Sex        0.0
Age       11.0
Fare      46.9
Name: 60, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       22.0000
Fare       7.2292
Name: 61, dtype: float64, Pclass     1.0
Sex        1.0
Age       38.0
Fare      80.0
Name: 62, dtype: float64, Pclass     1.000
Sex        0.000
Age       45.000
Fare      83.475
Name: 63, dtype: float64, Pclass     3.0
Sex        0.0
Age        4.0
Fare      27.9
Name: 64, dtype: float64, Pclass     2.0
Sex        1.0
Age       29.0
Fare      10.5
Name: 67, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       19.0000
Fare       8.1583
Name: 68, dtype: float64, Pclass     3.000
Sex        1.000
Age       17.000
Fare       7.925
Name: 69, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       26.0000
Fare       8.6625
Name: 70, dtype: float64, Pclass     2.0
Sex        0.0
Age       32.0
Fare      10.5
Name: 71, dtype: float64, Pclass     3.0
Sex        1.0
Age       16.0
Fare      46.9
Name: 72, dtype: float64, Pclass     2.0
Sex        0.0
Age       21.0
Fare      73.5
Name: 73, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       26.0000
Fare      14.4542
Name: 74, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       32.0000
Fare      56.4958
Name: 75, dtype: float64, Pclass     3.00
Sex        0.00
Age       25.00
Fare       7.65
Name: 76, dtype: float64, Pclass     2.00
Sex        0.00
Age        0.83
Fare      29.00
Name: 79, dtype: float64, Pclass     3.000
Sex        1.000
Age       30.000
Fare      12.475
Name: 80, dtype: float64, Pclass     3.0
Sex        0.0
Age       22.0
Fare       9.0
Name: 81, dtype: float64, Pclass     3.0
Sex        0.0
Age       29.0
Fare       9.5
Name: 82, dtype: float64, Pclass     1.0
Sex        0.0
Age       28.0
Fare      47.1
Name: 84, dtype: float64, Pclass     2.0
Sex        1.0
Age       17.0
Fare      10.5
Name: 85, dtype: float64, Pclass     3.00
Sex        1.00
Age       33.00
Fare      15.85
Name: 86, dtype: float64, Pclass     3.000
Sex        0.000
Age       16.000
Fare      34.375
Name: 87, dtype: float64, Pclass      1.0
Sex         1.0
Age        23.0
Fare      263.0
Name: 89, dtype: float64, Pclass     3.00
Sex        0.00
Age       24.00
Fare       8.05
Name: 90, dtype: float64, Pclass     3.00
Sex        0.00
Age       29.00
Fare       8.05
Name: 91, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       20.0000
Fare       7.8542
Name: 92, dtype: float64, Pclass     1.000
Sex        0.000
Age       46.000
Fare      61.175
Name: 93, dtype: float64, Pclass     3.000
Sex        0.000
Age       26.000
Fare      20.575
Name: 94, dtype: float64, Pclass     3.00
Sex        0.00
Age       59.00
Fare       7.25
Name: 95, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       71.0000
Fare      34.6542
Name: 97, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       23.0000
Fare      63.3583
Name: 98, dtype: float64, Pclass     2.0
Sex        1.0
Age       34.0
Fare      23.0
Name: 99, dtype: float64, Pclass     2.0
Sex        0.0
Age       34.0
Fare      26.0
Name: 100, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       28.0000
Fare       7.8958
Name: 101, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       21.0000
Fare      77.2875
Name: 103, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       33.0000
Fare       8.6542
Name: 104, dtype: float64, Pclass     3.000
Sex        0.000
Age       37.000
Fare       7.925
Name: 105, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       28.0000
Fare       7.8958
Name: 106, dtype: float64, Pclass     3.00
Sex        1.00
Age       21.00
Fare       7.65
Name: 107, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       38.0000
Fare       7.8958
Name: 109, dtype: float64, Pclass     1.0
Sex        0.0
Age       47.0
Fare      52.0
Name: 111, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       14.5000
Fare      14.4542
Name: 112, dtype: float64, Pclass     3.00
Sex        0.00
Age       22.00
Fare       8.05
Name: 113, dtype: float64, Pclass     3.000
Sex        1.000
Age       20.000
Fare       9.825
Name: 114, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       17.0000
Fare      14.4583
Name: 115, dtype: float64, Pclass     3.000
Sex        0.000
Age       21.000
Fare       7.925
Name: 116, dtype: float64, Pclass     3.00
Sex        0.00
Age       70.50
Fare       7.75
Name: 117, dtype: float64, Pclass     2.0
Sex        0.0
Age       29.0
Fare      21.0
Name: 118, dtype: float64, Pclass      1.0000
Sex         0.0000
Age        24.0000
Fare      247.5208
Name: 119, dtype: float64, Pclass     3.000
Sex        1.000
Age        2.000
Fare      31.275
Name: 120, dtype: float64, Pclass     2.0
Sex        0.0
Age       21.0
Fare      73.5
Name: 121, dtype: float64, Pclass     2.0000
Sex        0.0000
Age       32.5000
Fare      30.0708
Name: 123, dtype: float64, Pclass     2.0
Sex        1.0
Age       32.5
Fare      13.0
Name: 124, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       54.0000
Fare      77.2875
Name: 125, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       12.0000
Fare      11.2417
Name: 126, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       24.0000
Fare       7.1417
Name: 128, dtype: float64, Pclass     3.000
Sex        0.000
Age       45.000
Fare       6.975
Name: 130, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       33.0000
Fare       7.8958
Name: 131, dtype: float64, Pclass     3.00
Sex        0.00
Age       20.00
Fare       7.05
Name: 132, dtype: float64, Pclass     3.0
Sex        1.0
Age       47.0
Fare      14.5
Name: 133, dtype: float64, Pclass     2.0
Sex        1.0
Age       29.0
Fare      26.0
Name: 134, dtype: float64, Pclass     2.0
Sex        0.0
Age       25.0
Fare      13.0
Name: 135, dtype: float64, Pclass     2.0000
Sex        0.0000
Age       23.0000
Fare      15.0458
Name: 136, dtype: float64, Pclass     1.0000
Sex        1.0000
Age       19.0000
Fare      26.2833
Name: 137, dtype: float64, Pclass     1.0
Sex        0.0
Age       37.0
Fare      53.1
Name: 138, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       16.0000
Fare       9.2167
Name: 139, dtype: float64, Pclass     1.0
Sex        0.0
Age       24.0
Fare      79.2
Name: 140, dtype: float64, Pclass     3.00
Sex        1.00
Age       22.00
Fare       7.75
Name: 142, dtype: float64, Pclass     3.00
Sex        1.00
Age       24.00
Fare      15.85
Name: 143, dtype: float64, Pclass     3.00
Sex        0.00
Age       19.00
Fare       6.75
Name: 144, dtype: float64, Pclass     2.0
Sex        0.0
Age       18.0
Fare      11.5
Name: 145, dtype: float64, Pclass     2.00
Sex        0.00
Age       19.00
Fare      36.75
Name: 146, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       27.0000
Fare       7.7958
Name: 147, dtype: float64, Pclass     3.000
Sex        1.000
Age        9.000
Fare      34.375
Name: 148, dtype: float64, Pclass     2.0
Sex        0.0
Age       36.5
Fare      26.0
Name: 149, dtype: float64, Pclass     2.0
Sex        0.0
Age       42.0
Fare      13.0
Name: 150, dtype: float64, Pclass     2.000
Sex        0.000
Age       51.000
Fare      12.525
Name: 151, dtype: float64, Pclass     1.0
Sex        1.0
Age       22.0
Fare      66.6
Name: 152, dtype: float64, Pclass     3.00
Sex        0.00
Age       55.50
Fare       8.05
Name: 153, dtype: float64, Pclass     3.0
Sex        0.0
Age       40.5
Fare      14.5
Name: 154, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       51.0000
Fare      61.3792
Name: 156, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       16.0000
Fare       7.7333
Name: 157, dtype: float64, Pclass     3.00
Sex        0.00
Age       30.00
Fare       8.05
Name: 158, dtype: float64, Pclass     3.0
Sex        0.0
Age       44.0
Fare      16.1
Name: 161, dtype: float64, Pclass     2.00
Sex        1.00
Age       40.00
Fare      15.75
Name: 162, dtype: float64, Pclass     3.000
Sex        0.000
Age       26.000
Fare       7.775
Name: 163, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       17.0000
Fare       8.6625
Name: 164, dtype: float64, Pclass     3.0000
Sex        0.0000
Age        1.0000
Fare      39.6875
Name: 165, dtype: float64, Pclass     3.000
Sex        0.000
Age        9.000
Fare      20.525
Name: 166, dtype: float64, Pclass     3.0
Sex        1.0
Age       45.0
Fare      27.9
Name: 168, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       28.0000
Fare      56.4958
Name: 170, dtype: float64, Pclass     1.0
Sex        0.0
Age       61.0
Fare      33.5
Name: 171, dtype: float64, Pclass     3.000
Sex        0.000
Age        4.000
Fare      29.125
Name: 172, dtype: float64, Pclass     3.0000
Sex        1.0000
Age        1.0000
Fare      11.1333
Name: 173, dtype: float64, Pclass     3.000
Sex        0.000
Age       21.000
Fare       7.925
Name: 174, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       56.0000
Fare      30.6958
Name: 175, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       18.0000
Fare       7.8542
Name: 176, dtype: float64, Pclass     1.0000
Sex        1.0000
Age       50.0000
Fare      28.7125
Name: 178, dtype: float64, Pclass     2.0
Sex        0.0
Age       30.0
Fare      13.0
Name: 179, dtype: float64, Pclass     3.0
Sex        0.0
Age       36.0
Fare       0.0
Name: 180, dtype: float64, Pclass     3.0000
Sex        0.0000
Age        9.0000
Fare      31.3875
Name: 183, dtype: float64, Pclass     2.0
Sex        0.0
Age        1.0
Fare      39.0
Name: 184, dtype: float64, Pclass     3.000
Sex        1.000
Age        4.000
Fare      22.025
Name: 185, dtype: float64, Pclass     1.00
Sex        0.00
Age       45.00
Fare      26.55
Name: 188, dtype: float64, Pclass     3.0
Sex        0.0
Age       40.0
Fare      15.5
Name: 189, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       36.0000
Fare       7.8958
Name: 190, dtype: float64, Pclass     2.0
Sex        1.0
Age       32.0
Fare      13.0
Name: 191, dtype: float64, Pclass     2.0
Sex        0.0
Age       19.0
Fare      13.0
Name: 192, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       19.0000
Fare       7.8542
Name: 193, dtype: float64, Pclass     2.0
Sex        0.0
Age        3.0
Fare      26.0
Name: 194, dtype: float64, Pclass     1.0000
Sex        1.0000
Age       44.0000
Fare      27.7208
Name: 195, dtype: float64, Pclass      1.0000
Sex         1.0000
Age        58.0000
Fare      146.5208
Name: 196, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       42.0000
Fare       8.4042
Name: 198, dtype: float64, Pclass     2.0
Sex        1.0
Age       24.0
Fare      13.0
Name: 200, dtype: float64, Pclass     3.0
Sex        0.0
Age       28.0
Fare       9.5
Name: 201, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       34.0000
Fare       6.4958
Name: 203, dtype: float64, Pclass     3.000
Sex        0.000
Age       45.500
Fare       7.225
Name: 204, dtype: float64, Pclass     3.00
Sex        0.00
Age       18.00
Fare       8.05
Name: 205, dtype: float64, Pclass     3.0000
Sex        1.0000
Age        2.0000
Fare      10.4625
Name: 206, dtype: float64, Pclass     3.00
Sex        0.00
Age       32.00
Fare      15.85
Name: 207, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       26.0000
Fare      18.7875
Name: 208, dtype: float64, Pclass     3.00
Sex        1.00
Age       16.00
Fare       7.75
Name: 209, dtype: float64, Pclass     1.0
Sex        0.0
Age       40.0
Fare      31.0
Name: 210, dtype: float64, Pclass     3.00
Sex        0.00
Age       24.00
Fare       7.05
Name: 211, dtype: float64, Pclass     2.0
Sex        1.0
Age       35.0
Fare      21.0
Name: 212, dtype: float64, Pclass     3.00
Sex        0.00
Age       22.00
Fare       7.25
Name: 213, dtype: float64, Pclass     2.0
Sex        0.0
Age       30.0
Fare      13.0
Name: 214, dtype: float64, Pclass      1.000
Sex         1.000
Age        31.000
Fare      113.275
Name: 216, dtype: float64, Pclass     3.000
Sex        1.000
Age       27.000
Fare       7.925
Name: 217, dtype: float64, Pclass     2.0
Sex        0.0
Age       42.0
Fare      27.0
Name: 218, dtype: float64, Pclass     1.0000
Sex        1.0000
Age       32.0000
Fare      76.2917
Name: 219, dtype: float64, Pclass     2.0
Sex        0.0
Age       30.0
Fare      10.5
Name: 220, dtype: float64, Pclass     3.00
Sex        0.00
Age       16.00
Fare       8.05
Name: 221, dtype: float64, Pclass     2.0
Sex        0.0
Age       27.0
Fare      13.0
Name: 222, dtype: float64, Pclass     3.00
Sex        0.00
Age       51.00
Fare       8.05
Name: 223, dtype: float64, Pclass     1.0
Sex        0.0
Age       38.0
Fare      90.0
Name: 225, dtype: float64, Pclass     3.00
Sex        0.00
Age       22.00
Fare       9.35
Name: 226, dtype: float64, Pclass     2.0
Sex        0.0
Age       19.0
Fare      10.5
Name: 227, dtype: float64, Pclass     3.00
Sex        0.00
Age       20.50
Fare       7.25
Name: 228, dtype: float64, Pclass     2.0
Sex        0.0
Age       18.0
Fare      13.0
Name: 229, dtype: float64, Pclass     1.000
Sex        1.000
Age       35.000
Fare      83.475
Name: 231, dtype: float64, Pclass     3.000
Sex        0.000
Age       29.000
Fare       7.775
Name: 232, dtype: float64, Pclass     2.0
Sex        0.0
Age       59.0
Fare      13.5
Name: 233, dtype: float64, Pclass     3.0000
Sex        1.0000
Age        5.0000
Fare      31.3875
Name: 234, dtype: float64, Pclass     2.0
Sex        0.0
Age       24.0
Fare      10.5
Name: 235, dtype: float64, Pclass     2.0
Sex        0.0
Age       44.0
Fare      26.0
Name: 237, dtype: float64, Pclass     2.00
Sex        1.00
Age        8.00
Fare      26.25
Name: 238, dtype: float64, Pclass     2.0
Sex        0.0
Age       19.0
Fare      10.5
Name: 239, dtype: float64, Pclass     2.000
Sex        0.000
Age       33.000
Fare      12.275
Name: 240, dtype: float64, Pclass     2.0
Sex        0.0
Age       29.0
Fare      10.5
Name: 243, dtype: float64, Pclass     3.000
Sex        0.000
Age       22.000
Fare       7.125
Name: 244, dtype: float64, Pclass     3.000
Sex        0.000
Age       30.000
Fare       7.225
Name: 245, dtype: float64, Pclass     1.0
Sex        0.0
Age       44.0
Fare      90.0
Name: 246, dtype: float64, Pclass     3.000
Sex        1.000
Age       25.000
Fare       7.775
Name: 247, dtype: float64, Pclass     2.0
Sex        1.0
Age       24.0
Fare      14.5
Name: 248, dtype: float64, Pclass     1.0000
Sex        0.0000
Age       37.0000
Fare      52.5542
Name: 249, dtype: float64, Pclass     2.0
Sex        0.0
Age       54.0
Fare      26.0
Name: 250, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       29.0000
Fare      10.4625
Name: 252, dtype: float64, Pclass     1.00
Sex        0.00
Age       62.00
Fare      26.55
Name: 253, dtype: float64, Pclass     3.0
Sex        0.0
Age       30.0
Fare      16.1
Name: 254, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       41.0000
Fare      20.2125
Name: 255, dtype: float64, Pclass     3.0000
Sex        1.0000
Age       29.0000
Fare      15.2458
Name: 256, dtype: float64, Pclass     1.0
Sex        1.0
Age       30.0
Fare      86.5
Name: 258, dtype: float64, Pclass      1.0000
Sex         1.0000
Age        35.0000
Fare      512.3292
Name: 259, dtype: float64, Pclass     2.0
Sex        1.0
Age       50.0
Fare      26.0
Name: 260, dtype: float64, Pclass     3.0000
Sex        0.0000
Age        3.0000
Fare      31.3875
Name: 262, dtype: float64, Pclass     1.00
Sex        0.00
Age       52.00
Fare      79.65
Name: 263, dtype: float64, Pclass     1.0
Sex        0.0
Age       40.0
Fare       0.0
Name: 264, dtype: float64, Pclass     2.0
Sex        0.0
Age       36.0
Fare      10.5
Name: 266, dtype: float64, Pclass     3.0000
Sex        0.0000
Age       16.0000
Fare      39.6875
Name: 267, dtype: float64, Pclass     3.000
Sex        0.000
Age       25.000
Fare       7.775
Name: 268, dtype: float64, Pclass      1.0000